/* ZERA CONFIGURAÇÕES PADRÃO */
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: 16px "Open Sans", Tahoma, Verdana;
	color: #F6F6F6;
}
/*HEADER*/
header{
	width: 980px;
	position: relative;
	margin:auto;
	z-index: 1000;
}

/*NAV*/
nav{
	padding: 25px;
}

nav ul{
	text-align: center;
}

nav ul li{
	list-style: none;
	display: inline;
}

nav ul li a{
	font: 24px Anton, Verdana, Tahoma;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	margin: 30px;
	padding: 10px;
	float: inherit;
	transition: all 0.5s;
}

nav ul li a:hover{
	background: #fff;
	color:#000;
}

/*BODY*/
body{
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
	font: 28px Anton, Verdana, Tahoma;
	color: #6666FF;
	margin:10px;
}

h2{
	font: 23px Anton, Verdana, Tahoma;
	color: #6666FF;
	margin:10px;
}

p{
	margin: 10px;
}

label{
	display: none;
}

/*FOOTER*/
footer{
	width: 100%;
	margin: auto;
	position: relative;
	text-align: center;
	padding: 10px 0px;
	z-index: 1000;
}

footer p{
	color: #000;
	margin: 10px;
	font-weight: bold;
}

footer a{
	text-decoration: none;
	color: #333;
	margin: 0px 15px 15px 15px;
	transition:all 0.5s;
}

footer a:hover{
	color: #000;
}

/* CONTROLE CSS CLASSES */
.cycle-slideshow{
	position: fixed;
	height: 100%;
	width: 100%;
}

.cycle-slideshow img{
	min-width: 100%;
    min-height: 100%;
	max-width: 100%;
    max-height: 100%;
}


.cabecalho{
	width: 100%;
	text-align: center;
	padding-top:20px;
}

.cabecalho p{
	font: 32px 'Pacifico', serif;
}

.cabecalho-self{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: auto;
	transition: 0.5s;
	background-image: url(../images/self_header.jpg);
	background-size: 100px;
}

.cabecalho-self:hover{
	box-shadow: 0px 0px 50px 10px white;
	background-image: url(../images/self_header_hover.jpg);
}

.cabecalho-menu{
	background: rgba(33,33,33,0.6);
	height: 80px;
	width: 100%;
}

.conteudo{
	background: rgba(33,33,33,0.6);
	padding: 10px;
	width: 960px;
	margin: auto;
	min-height: 495px;
	position: relative;
	z-index: 1000;
	text-align: justify;
}

.conteudo form{
	width: 80%;
	min-width: 300px;
	margin: auto;
}

.conteudo-home b{
	color: #6666FF;
	font-size: 30px;
}

.conteudo-home{
	//font: 23px 'Montserrat', sans-serif;
	//font: 23px 'Lobster', cursive;
	font-size: 23px;
}
	

.conteudo p{
	max-width: 700px;
	margin: auto;
}

.conteudo iframe{
	margin: 20px 50px 0px 50px;
}

.clear{
	clear: both;
}

.trabalho{
	max-height: 220px;
	display: flex;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	text-align: justify;
	overflow: hidden;
}

.trabalho img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px black;
	transition: 0.5s;
}

.trabalho img:hover{
	box-shadow: 0px 0px 20px white;
}

.trabalho a{
	color: #CCC;
	text-decoration: none;
	margin: 50px 50px 20px 20px;
	overflow: visible;
	width: 100px;
	height: 100px;
}

.box{
	border: 1px solid #6666FF;
	width: 100%;
	padding: 5px;
	margin: 10px 0px 10px 0px;
}

.rodape{
	width: 960px;
	background-color:rgba(255,255,255,0.5); 
	margin: auto;
	border-radius: 10px;
}

.read-more-state {
  	display: none;
}

.read-more-state:checked ~ .trabalho{
  	max-height: 100%;
}

.read-more-state ~ .read-more-trigger:before {
  	content: 'Ver Mais';
  	color: #FFF;
}

.read-more-state:checked ~ .read-more-trigger:before {
  	content: 'Ver Menos';
  	color: #999;
}

.read-more-trigger {
	cursor: pointer;
	display: inline-block;
	padding: 0 .5em;
	background-color: #333;
	color: #FFF;
	font-size: .9em;
	line-height: 2;
	border: 1px solid #ddd;
	border-radius: .25em;
}