/* ZERA CONFIGURAÇÕES PADRÃO */
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: 14px "Open Sans", Tahoma, Verdana;
	color: #F6F6F6;
}
/*HEADER*/
header{
	width: 980px;
	position: relative;
	margin:auto;
	z-index: 1000;
}

/*NAV*/
nav{
	padding: 25px;
}

nav ul{
	text-align: center;
}

nav ul li{
	list-style: none;
	display: inline;
}

nav ul li a{
	font: 24px Anton, Verdana, Tahoma;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	margin: 30px;
	padding: 10px;
	float: inherit;
	transition: all 0.5s;
}

nav ul li a:hover{
	background: #fff;
	color:#000;
}

/*BODY*/
body{
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
	font: 24px Anton, Verdana, Tahoma;
	color: #6666FF;
	margin:10px;
}

h2{
	font: 18px Anton, Verdana, Tahoma;
	color: #6666FF;
	margin:10px;
}

p{
	margin: 10px;
}

label{
	display: none;
}

/*FOOTER*/
footer{
	width: 100%;
	margin: auto;
	position: relative;
	text-align: center;
	padding: 10px 0px;
	z-index: 1000;
}

footer p{
	color: #333;
	margin: 10px;
	font-weight: bold;
}

footer a{
	text-decoration: none;
	color: #333;
	margin: 15px;
	transition:all 0.5s;
}

footer a:hover{
	color: #000;
}

/* CONTROLE CSS CLASSES */
.cycle-slideshow{
	position: fixed;
}

.cabecalho{
	width: 100%;
	text-align: center;

}

.cabecalho p{
	font: 32px 'Pacifico', serif;
}

.cabecalho-self{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 60px 0px 0px 0px;
}
.cabecalho-menu{
	background: rgba(33,33,33,0.5);
	height: 80px;
	width: 100%;
}

.conteudo{
	background: rgba(33,33,33,0.5);
	padding: 10px;
	width: 960px;
	margin: auto;
	min-height: 495px;
	position: relative;
	z-index: 1000;
}

.conteudo form{
	width: 80%;
	min-width: 300px;
	margin: auto;
}

.conteudo iframe{
	margin: 20px 50px 0px 50px;
}

.clear{
	clear: both;
}

.trabalho{
	width: 80%;
	max-height: 460px;
	overflow: hidden;
	display: flex;
	text-align: center;
}

.trabalho a{
	color: #CCC;
	text-decoration: none;

}

.box{
	border: 1px solid #6666FF;
	width: 100%;
	padding: 5px;
	margin: 10px 0px 10px 0px;
}

.btn{
	font: 18px Anton, Verdana, Tahoma;
	float: right;
	background: #6666FF;
	color: #000;
	padding: 10px;
}

.btn:hover{
	background: #FF8000;
}

.rodape{
	width: 960px;
	background-color:rgba(255,255,255,0.5); 
	margin: auto;
	border-radius: 10px;
}